.favorites_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.favorites_title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.favorites_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.favorite_card {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
}

.image_wrapper {
  position: relative;
}

.favorite_image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: 0.3s;
}

.favorite_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.favorite_icon span {
  color: red;
  font-size: 20px;
}

.favorite_link {
  text-decoration: none;
  color: #333;
}

.favorite_link:hover h2 {
  text-decoration: underline;
}

p {
  margin: 0.3rem 0;
}

.product_cart_button {
  background-color: var(--color-dark-gray);
  color: var(--color-text-light);
}

.product_cart_button:hover {
    background-color: var(--color-hover-dark-gray);
}

.product_cart_button,
.product_cart_controls {
    cursor: pointer;
    border: none;
    width: 200px;
    height: 45px;
    display: block;
    margin: 0 auto;

}

.product_cart_controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_cart_control_button,
.product_cart_item_info {
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: var(--color-light-gray);
}

.product_cart_control_button {
    display: flex;
    aspect-ratio: 4 / 5;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
}

.product_cart_control_button span {
  line-height: 1;
}

.product_cart_item_info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    background-color: var(--color-light-gray);
}

.product_cart_item_info:visited {
    color: #000000;
}

.product_size:hover,
.product_cart_control_button:hover,
.product_cart_item_info:hover {
    background-color: var(--color-hover-light-gray);
}

.actions_row {
  margin-top: 16px;
}

.favorite_cart_button:hover {
  background-color: var(--color-hover-dark-gray);
}