.footer_wrapper {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    width: 100%;
    margin: 0 auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px; 
    align-items: center;
    padding: 20px 0px;
    margin: 0 auto;
    max-width: var(--max-wrapper-width);
}

.footer_contacts {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}

.footer_contacts_phone,
.footer_contacts_address {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.footer_logo {
    grid-column: 2;
    grid-row: 1;
}

.footer_logo_image {
    display: block;
    max-width: 150px;
    margin: 0px auto;
}

.footer_social_icons {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.footer_social_image {
    height: 20px;
}

.footer_payment_systems {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.footer_payment_system {
    height: 45px;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer_logo {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .footer_contacts {
        grid-column: 1;
        grid-row: 2;
    }

    .footer_social_icons {
        grid-column: 2;
        grid-row: 2;
    }

    .footer_payment_systems {
        grid-column: 2;
        grid-row: 3;
    }
}

@media (max-width: 550px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .footer_logo {
        grid-column: 1;
        grid-row: 1;
    }

    .footer_contacts {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    .footer_social_icons {
        grid-column: 1;
        grid-row: 3;
        justify-content: center;
    }

    .footer_payment_systems {
        grid-column: 1;
        grid-row: 4;
        justify-content: center;
    }
}