.mainpage_categories_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 равные колонки */
  gap: 20px;
  max-width: var(--max-wrapper-width);
  margin: 0 auto 2.5%;
}

.mainpage_categories_container {
  position: relative;
  display: inline-block;
  grid-column: span 2;
}

.mainpage_categories_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
}

.mainpage_categories_big_image,
.mainpage_categories_small_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}