.header_wrapper {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    width: 100%;
    margin: 0 auto 30px;
    padding: 0 20px;
}

.header {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    gap: 10px; 
    align-items: center;
    padding: 20px 0px;
    max-width: 1440vw;
}

.header_logo {
    grid-column: 1;
    grid-row: 1;
}

.header_logo_image {
    display: block;
    max-width: 195px;
    margin: 0px auto;
}


.header_icons {
    grid-column: 3;
    grid-row: 1;
    align-items: center;
}

.header_icon {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 30px;
}

.header_icon_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: auto;
    height: 40px;
    text-decoration: none;
    font-weight: 100;
}

.header_icon_symbol {
    font-size: 35px;
    font-weight: 200;
}

.header_total_price {
    font-size: 18px;
    white-space: nowrap;
}


.header_categories {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.header_gender {
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
}

.header_gender_link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--color-text-light);
    text-decoration: none;
}


.header_gender_dropdown_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-background-dark);
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding-top: 20px;
    z-index: 1;
}

.header_gender:hover .header_gender_dropdown_menu {
    display: block;
}

.header_gender_dropdown_items {
    position: relative;
    padding: 15px;
    border: 1px solid var(--color-background-main);
}

.header_gender_dropdown_items::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--color-background-main);
}

.header_gender_dropdown_items::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--color-background-dark);
}

.header_gender_dropdown_item {
   line-height: 24px;
}

.header_gender_dropdown_item a {
    color: var(--color-text-light);
    text-decoration: none;
}

.header_gender_dropdown_item a:hover {
    color: #B0B0B0;
    text-decoration: none;
}

