* {
    box-sizing: border-box;
    font: 400 16px/1.3 'Finlandica', sans-serif;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_content {
    flex: 1;
}

.footer_wrapper {
    margin-top: auto;
}

:root {
    --color-text-light: #ffffff;
    --color-text-gray: #999999;
    --color-text-dark: #111111;
    --color-background-light: #ffffff;
    --color-background-dark: #2d2d2d;
    --color-background-main: #585858;
    --color-dark-gray: #616677;
    --color-hover-dark-gray: #525665;
    --color-light-gray: #ededed;
    --color-hover-light-gray: #f7f7f7;
    --color-scrollbar-thumb: #cccccc;
    --max-wrapper-width: 90%;
}