* {
    box-sizing: border-box;
    font: 400 16px/1.3 'Finlandica', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --color-text-light: #ffffff;
    --color-text-gray: #999999;
    --color-text-dark: #111111;
    --color-background-light: #ffffff;
    --color-background-dark: #2d2d2d;
    --color-background-main: #585858;
    --color-dark-gray: #525665;
    --color-light-gray: #f7f7f7;
    --color-hover-gray: #ededed;
    --color-scrollbar-thumb: #cccccc;
    --max-wrapper-width: 90%;
}